<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x86</Platform>
    <PublishDir>bin\Publish\</PublishDir>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <TargetFramework>net8.0-windows</TargetFramework>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <IncludeAllContentForSelfExtract>true</IncludeAllContentForSelfExtract>
  </PropertyGroup>
</Project>
